/* Reset and base styles */
@font-face {
  font-family: 'Game Font';
  src: url('../assets/images/fonts/gameFont.ttf');
}

@font-face {
  font-family: 'Non Header';
  src: url('../assets/images/fonts/nonHeader.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url('../assets/images/background.png') no-repeat center center fixed;
  background-size: cover;
}

/* Navigation styles */
/* Navigation styles */

.nav-tabs {
  margin-bottom: 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.709);
  font-family: 'Non Header', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em 2em;
}

.userIn {
  font-size: 1.5em;
  padding-left:20px;
  font-weight: bold;
  color: #f1ad23;
  font-family: 'Non Header', sans-serif;
  text-align: left;
  margin-top: 0.1em;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-container a {
  color: #f1ad23;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  font-family: 'Non Header', sans-serif;
  text-decoration: none;
  padding: 0.5em 1em;
  margin: 0 0.5em;
}

.nav-container a:hover {
  color: #cabbd6;
}
