@font-face {
  font-family: 'Game Font';
  src: url('../assets/images/fonts/gameFont.ttf');
}

@font-face {
  font-family: 'Non Header';
  src: url('../assets/images/fonts/nonHeader.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.286);
  font-family: 'Game Font', sans-serif;
  background: url('../assets/images/background.png') no-repeat center center fixed;
  background-size: cover;
  align-items: center;
}

/* Contact Form */
.contactForm {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.709);
  border: 2px solid #f1ad23;
  width: 500px; /* Adjust the width */
  height: auto; /* Let the height adjust to content */
  margin: 2em auto; /* Adjust margins for better spacing */
  text-align: center;
  font-family: 'Non Header', sans-serif;
  font-size: 20px;
  color: #f1ad23;  
  margin-top: 5em;
  margin-bottom: 5em;
  padding: 2em; /* Adjust the padding for the entire form */
}

.formRow {
  margin: 1.5em 0; /* Increase vertical spacing between rows */
}

.form-control {
  width: 100%; /* Make sure the input fields and textarea take up the entire width of their containers */
  padding: 0.5em; /* Adjust the padding for the input fields and textarea */
  border: 2px solid #f1ad23;
  border-radius: 5px;
  background-color: rgba(236, 230, 230, 0.709);
  color: #f1ad23;
  font-size: 16px;
}

.formInput {
  height: 2.5em; /* Adjust the height of the input fields */
}

/* Adjust the styling for the textarea */
.form-control.textarea {
  resize: vertical; /* Allow vertical resizing for the textarea */
}
.submit-btn{
  display: inline-block;
  margin-top: 0.5em;
  margin-right: 0.5em; /* Adjust top margin */
  padding: 0.3em 0.8em; /* Adjust padding */
  font-family: 'Non Header', sans-serif;
  font-size: 1.3rem; /* Adjust font size */
  font-weight: bold;
  text-decoration: none;
  color: #f1ad23; /* Changed button text color to pop against the background */
  background-color: #252829; 
  border: 2px solid #f1ad23;;
  border-radius: 5px;
  transition: background-color 0.2s, transform 0.2s;
}
.submit-btn:hover {
  background-color: #363740;
  transform: translateY(-2px);

}

.container {
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  padding-top: 2em;
  padding-bottom: 2em;
}

.contact-title {
  font-size: 6rem;
  font-weight: bold;
  margin-top: 1em;
  height: 60px;
  color: #f1ad23;
   /* Changed title color to pop against the background */
  text-shadow: 2px 2px #f06000; /* Added text shadow to create contrast */
 
  align-items: center;
  text-align: center;
  font-family: 'Non Header', sans-serif;
}



/* Add a media query for phone-sized screens */
@media (max-width: 480px) {
  .contactForm {
    width: 90%; /* Adjust the width to fit smaller screens */
    padding: 1em; /* Adjust padding for better spacing on smaller screens */
    margin-top: 3em; /* Adjust top margin */
    margin-bottom: 3em; /* Adjust bottom margin */
  }

  .form-control {
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  .submit-btn {
    font-size: 1rem; /* Adjust font size for button on smaller screens */
    padding: 0.2em 0.6em; /* Adjust padding for button on smaller screens */
  }

  .container {
    padding-top: 1em; /* Adjust top padding for smaller screens */
    padding-bottom: 1em; /* Adjust bottom padding for smaller screens */
  }

  .contact-title {
    font-size: 4rem; /* Adjust font size for title on smaller screens */
    height: auto; /* Allow height to adjust based on content */
    margin-top: 0.5em; /* Adjust top margin for title on smaller screens */
  }
}

