html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: rgba(0, 0, 0, 0.286);
    font-family: 'Game Font', sans-serif;
    background: url('../assets/images/background.png') no-repeat center center fixed;
    background-size: cover;
    align-items: center;
  }
.resumeHeader {
    position: relative;
}

.resume-container {
    text-align: center;
    min-height: 30vh;
    background-size: cover;
}   

.resumeHeader h1 {
    font-size: 6rem;
    font-weight: bold;
    margin-top: 1em;
    height: 60px;
    color: #f1ad23;
     /* Changed title color to pop against the background */
    text-shadow: 2px 2px #f06000; /* Added text shadow to create contrast */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Non Header', sans-serif;
}
.resumeBtn {
    display: inline-block;
    margin-top: 0.5em;
    margin-right: 0.5em; /* Adjust top margin */
    padding: 0.3em 0.8em; /* Adjust padding */
    font-family: 'Non Header', sans-serif;
    font-size: 1.3rem; /* Adjust font size */
    font-weight: bold;
    text-decoration: none;
    color: #f1ad23; /* Changed button text color to pop against the background */
    background-color: #252829; 
    border: 2px solid #f1ad23;;
    border-radius: 5px;
    transition: background-color 0.2s, transform 0.2s;
}
.resumeBtn:hover {
    background-color: #363740;
    transform: translateY(-2px);

}

.techTable h1{
    max-width: 75%;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-family: serif;
    color:#f1ad23;
    text-shadow: 2px 2px 4px #4b022f;
        
}
.techTable th{
    background-color:  rgba(0, 0, 0, 0.709) !important;
    color: #f1ad23!important;
}
.techTable  {
    margin-bottom: 2em;
    width: 30%;
    font-family: serif;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    margin: 1em auto;
    margin-top:1em;

}
.techTable td{
    padding: 1em;
    background-color:  rgba(0, 0, 0, 0.709) !important;
    color: #f1ad23 !important;
    text-shadow: 2px 2px 4px #4b022f;
    font-weight: bold;
}